@{
    ViewData["Title"] = "Trang chủ";
}

<div class="main">
    <div class="cloud">
        <div class="btn-m">
            <a href="/phuong-phap-dinh-huong-nghe-nghiep/" class="btn">
                TÌM HIỂU NGAY
                <i class="fa-solid fa-angles-right icon-right"></i>
            </a>
        </div>
    </div>
</div>

@section Scripts{
    <script>$.cookie("check-information", false, { path: '/' });</script>
}
